<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js" defer></script>
    <% if (js) { %>
        <script src="/<%= js %>.js"></script>
    <% } %>
    <link rel="stylesheet" href="/base.css">
</head>