<!DOCTYPE html>
<html>
<%- include('partials/head') %>
<body>
    <div class="content">
        <h1>Login</h1>
        <button onclick="selectCredentials('read_only')">Read Only User</button>
        <button onclick="selectCredentials('modify_role')">Modify User</button>
    </div>
</body>
</html>