<!DOCTYPE html>
<html>
<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <div class="content">
        <h1>Publishers</h1>
        <div class="select_wrapper">
            Games published by: <select id="publisher_select" onchange="displayPublisherGames()">
                <option value="">Select a Publisher</option>
                <!-- will be populated by JS -->
            </select>
        </div>
        <div class="table_wrapper">
            <table id="game_table">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th colspan="2">
                            Description
                        </th>
                        <th>
                            Time to Play
                        </th>
                        <th>
                            Players
                        </th>
                        <th>
                            Min. Age
                        </th>
                        <th>
                            Weight
                        </th>
                        <th>
                            Categories
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>