@import './styles/animations.css';
@import './styles/loading.css';
@import './styles/button.css';
@import './styles/categories.css';

body {
    margin: 0;
    overflow: hidden;
}

#maincontent {
    --main-color: #0d7993;
    background-color: black;
    min-height: 100dvh;
    min-width: 100%;
    color: var(--main-color);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}